# Игнорировать временные файлы
*.log
*.tmp
*.csv

# Игнорировать базы данных
*.db

# Игнорировать системные файлы
__pycache__/
venv/
.idea/

# Игнорировать папку с результатами
data/

# Игнорировать информацию для разработки
dev.md
info.md
